version: "3.9"

services:
  db:
    image: postgres:15
    container_name: labodc_db
    environment:
      POSTGRES_DB: labodc
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123456
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  api:
    build: ./server
    container_name: labodc_api
    env_file:
      - .env
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy

  client:
    build: ./client
    container_name: labodc_client
    ports:
      - "3000:80"
    depends_on:
      - api

volumes:
  postgres_data:
